@import "variables";
@import "mixins";

.contactContainer {
  --color: black;
  --btn-background: #007bff;
  --btn-background-hover: #0060c7;
  --btn-color: white;
  --input-background: rgb(158, 158, 158);
  --input-background-focus: darkgray;
  --selection-bg: black;
  --selection-color: white;
}

.contactContainer[data-theme="dark"] {
  --color: white;
  --btn-background: #007bff;
  --btn-background-hover: #0060c7;
  --btn-color: white;
  --input-background: rgb(34 34 34);
  --input-background-focus: rgb(46, 46, 46);
  --selection-bg: white;
  --selection-color: black;
}

.contactContainer {
  transition: background 500ms;
  * {
    transition: background 500ms;
    transition: color 250ms;
    ::selection {
      background-color: var(--selection-bg);
      color: var(--selection-color);
    }
  }
  @include flexContainer(space-between, center, row);
  width: 64rem;
  margin: 2rem auto;
  margin-bottom: 2rem;
  .msg {
    @include flexContainer(center, center, column);
    width: 20rem;
    color: var(--color);
    p {
      font-size: 1.1rem;
      text-align: center;
    }
    h3 {
      text-align: center;
      font-size: 1.4rem;
    }
  }
  .contactForm {
    @include flexContainer(center, flex-start, column);
    * {
      font-size: 1rem;
    }
    span {
      font-weight: bold;
      color: var(--color);
    }
    textarea {
      margin-bottom: 1rem;
      margin-top: 0.2rem;
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      background-color: var(--input-background);
      color: var(--color);
      transition: background 500ms;
      &:focus {
        outline: none;
        background-color: var(--input-background-focus);
      }
    }
    #subject {
      resize: none;
    }
    #body {
      resize: vertical;
    }
    .submit {
      transition: background 250ms;
      width: 100%;
      padding: 0.2rem 0;
      border-radius: 0.4rem;
      font-size: 1.5rem;
      border: none;
      cursor: pointer;
      background-color: var(--btn-background);
      color: var(--btn-color);
      &:hover {
        background-color: var(--btn-background-hover);
      }
    }
  }
}

@media only screen and (max-width: 1222px) {
  .contactContainer {
    width: fit-content;
    margin: 2rem auto;
    margin-bottom: 2rem;
    .msg {
      margin-left: 1rem;
    }
    .contactForm {
      margin: 0 1rem;
      * {
        width: 100%;
      }
    }
  }
}

// @media only screen and (max-width: 1060px) {
//   .contactContainer {
//     width: fit-content;
//     margin: 2rem auto;
//     margin-bottom: 2rem;
//     .contactForm {
//       margin-left: 1rem;
//       * {
//         width: 100%;
//       }
//     }
//   }
// }

@media only screen and (max-width: 900px) {
  .contactContainer {
    @include flexContainer(center, center, column);
    width: fit-content;
    margin: 2rem auto;
    .msg {
      width: 90%;
    }
    .contactForm {
      margin: 0 auto;
      margin-top: 1rem;
      @include flexContainer(center, center, column);
      * {
        width: 90%;
      }
      .submit {
        width: 90%;
      }
    }
    margin-bottom: 2rem;
  }
}
