@import "mixins";
@import "variables";

#heading {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.homeContainer {
  @include flexContainer(space-between, center, row);
  flex-wrap: wrap;
  margin: 2rem auto;
  margin-bottom: 2rem;
  width: 70rem;
}

@media only screen and (max-width: 1125px) {
  .homeContainer {
    width: 45rem;
  }
}

@media only screen and (max-width: 730px) {
  .homeContainer {
    width: 100%;
    justify-content: center;
  }
}
